/*GLOBAL*/
body {
  margin:0;
  padding:0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f;
}

a{
  text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.input{
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
}
.input::-webkit-input-placeholder{
  font-size: normal;
  color: #999999;
}
.input:hover{
  border: solid 2px rgba(154, 154, 154, 0.52);
}
.input:focus{
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.button{
  font: inherit;
  text-align: center;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
.button:focus,
.button:hover{
  background: linear-gradient(to bottom,
   rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 #ac1000;
}
.button:active{
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07),
   rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
   color: #fceeec;
}

.link{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255, 0.3);
  color:white;
}
.link:focus,
.link:hover,
.link:active{
  color: #ffbc9e;
  border-bottom: 1px solid rgb(255, 188, 158, 0.3);
}

.link-on-white{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(50, 50, 50, 0.3);
  color:#323232;
}
.link-on-white:focus,
.link-on-white:hover,
.link-on-white:active{
  color: #e84d37;
  border-bottom: 1px solid rgb(232, 77, 55, 0.3);
}

.form{
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.bold{
  font-weight: bold;
}
/*GLOBAL*/

/*HEADER*/
.site-navigation, 
.user-navigation{
  list-style: none;
}
.site-navigation-link{
  color: white;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  font-weight: bold;
  line-height: 18px;
}
.site-navigation-link:hover,
.site-navigation-link:focus{
  border-radius: 5px;
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  border-bottom: none;
}
.site-navigation-link:active{
  border-radius: 5px;
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border-bottom: none;
}

.catalog-navigation{
  list-style: none;
}
.catalog-navigation-item{
  background-color: #f8f7f4;
  color: #323232;
  font-size: 14px;
  font-weight: normal;
}
.catalog-navigation-item:hover,
.catalog-navigation-item:focus{
  background-color: #fbded7;
  border-radius: 0;
}
.catalog-navigation-item:active{
  background-color: #f6b5a5;
  border-radius: 0;
  box-shadow: none;
}

.novelty{
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.user-navigation-link{
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.user-navigation-link:hover,
.user-navigation-link:focus{
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-input{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.email-input,
.password-input{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.registration-button{
  font-size: 18px
}
.registration{
  font-size: 13px;
  color: #323232;
  font-weight: normal;
}
/*HEADER*/

/*MAIN*/
.work-time{
  font-size: 14px;
}
.telephone-up{
  color: white;
  font-size: 22px;
  line-height: 24px;
}
.telephone-up:hover,
.telephone-up:focus{
  color: #ffbc9e;
  border-bottom: 1px solid rgb(255, 188, 158, 0.3);
}

.promo-two-by-one-list{
  list-style: none;
}
.promo-text{
  font-weight: bold;
  line-height: 60px;
  font-size: 60px;
}
.promo-button{
  font-size: 32px;
  line-height: 60px;
  line-height: 44px;
}
.promo-image-1{
  background-image: url("../img/png/ice-cream-font-image-1.png");
  background-repeat: no-repeat;
}
.promo-image-2{
  background-image: url("../img/png/ice-cream-font-image-2.png");
  background-repeat: no-repeat;
}
.promo-image-3{
  background-image: url("../img/png/ice-cream-font-image-3.png");
  background-repeat: no-repeat;
}

.slide{
  width: 19px;
  height: 19px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.0);
}
.slide:hover{
  background-color: rgb(248, 247, 244, 0.5);
}

.promo-gift-block-1{
  background-image: url("../img/jpeg/raspberries-background.jpg");
  background-repeat: no-repeat;
}
.promo-gift-block-2{
  background-image: url("../img/jpeg/chokolate-background.jpg");
  background-repeat: no-repeat;
}
.promo-gift-name{
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}
.promo-gift-text{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.promo-gift-button{
  font-size: 18px;
  line-height: 24px;
}

.hits-list,
.main-table-catalog{
  list-style: none;
}
.product-price{
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.kg{
  line-height: 45px;
  font-size: 30px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.product-name{
  color: white;
  font-size: 16px;
  line-height: 22px;
}

.advantages{
  background-image: url("../img/png/wafer-background.png");
  background-repeat: no-repeat;
  color: #323232;
  border-radius: 15px;
}
.advantages h3{
  font-size: 24px;
  line-height: 30px;
}
.advantages-list{
  list-style:none;
}
.hits-li:hover,
.hits-li:focus{
  background-color: rgba(248, 247, 244, 0.4);
}

.news{
  background-image: url("../img/png/news-background.png");
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  border-radius: 15px;
}
.news-head{
  font-size: 16px;
  font-weight: 500;
  color: #323232;
  line-height: 22px;
}
.news-item{
  color: #323232;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #323232;
}

.subscription{
  background-color: #f8f7f4;
  border-radius: 10px;
  background-image: url("../img/png/post-background.png");
  background-repeat: no-repeat;
}
.subscription-text{
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}

.address{
  background-color: white;
}
.telephone-down{
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.telephone-down:hover,
.telephone-down:focus{
  color: #ffbc9e;
  border-bottom: 1px solid rgb(255, 188, 158, 0.3);
}
.address-text{
  font-size: 14px;
  color: #323232;
  line-height: 20px;
}
.address-text-bold{
  font-size: 18px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
}
/*MAIN*/

/*FOOTER*/
.footer-social,
.footer-links{
  list-style: none;
}
.footer-links-item{
  font-size: 13px;
  line-height: 18px;
}
.footer-made-text{
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}
/*FOOTER*/

/*POPUP*/
.feedback{
  background-color: #f8f7f4;
}
.feedback-heading{
  color: #323232;
  font-size: 24px;
  line-height: 28px;
}
.input-feedback{
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
.textarea-feedback{
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  resize: none;
}
.feedback-input{
  font-weight: 400;
}
/*POPUP*/

/*catalog.html*/
.basket-form{
  background-color: #f8f7f4;
}
.basket-item{
  border-style: none;
  font-size: 13px;
  line-height: 16px;
  background-color: #f8f7f4;
  border: none;
}
.basket-total{
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
}

.bread-crumbs{
  list-style: none;
}
.bread-crumbs-item{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filter-name{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.filter-by-popularity{
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(255, 255, 255, 0.2);
}
.filter-background{
  background-color: rgb(255, 255, 255, 0.2);
}
.popularity{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color:#323232;
  background-color: rgb(255, 255, 255, 0.2);
}

.line{
  height: 4px;
  width: 107px;
  background-color: #f8f7f4;
}
.spinner-price{
  width: 20px;
  height: 22px;
  border-radius: 50%;
  background-color: #f8f7f4;
  border: none;
}
.spinner-price:hover,
.spinner-price:focus{
  width: 22px;
  height: 25px;
}

.filter-price{
  background-color: rgba(255, 255, 255, 0.0);
  color: #ffffff;
  border: none;
}
.filter-button{
  border: solid 2px #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 10px;
}
.filter-button:hover,
.filter-button:focus{
  background-color: #ffffff;
  color:#323232;
}
.filter-button:active{
  background-color: #ededed;
  color:#323232;
  box-shadow: inset 0 2px 1px #696969;
}

.page-number-list{
  list-style: none;
}
.page-number-current{
  background-color: #ffffff;
  color: #000000;
}
.page-number{
  color:#ffffff;
  font-size: 16px;
  line-height: 18px;
}
.page-number:hover,
.page-number:focus{
  background-color: rgba(255, 255, 255, 0.1);
  color: #323232;
}
.page-number:active{
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}
/*catalog.html*/